<a href="/Home/Crear" class="btn btn-outline-success m-3">Nuevo</a>

<table class="table m-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Creador</th>
            <th scope="col">Año de Aparición</th>
            <th scope="col">Tipado</th>
            <th scope="col">Extensión</th>
        </tr>
    </thead>
    <tbody id="datosTabla">
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            CargarLista();
        });
    </script>
}